extends layout

block content
  h1= title
  p Welcome to #{title}
  div#calcWrapper
    div#displayWrapper
      span#display 101939
    div#bigRow
      div#numWrapper
        div.numRow
          div.numButton
            button(onclick="console.log('hello 7')") 7
          div.numButton
            button(onclick="console.log('hello 8')") 8
          div.numButton
            button(onclick="console.log('hello 9')") 9
        div.numRow
          div.numButton
            button(onclick="console.log('hello 4')") 4
          div.numButton
            button(onclick="console.log('hello 5')") 5
          div.numButton
            button(onclick="console.log('hello 6')") 6
        div.numRow
          div.numButton
            button(onclick="console.log('hello 1')") 1
          div.numButton
            button(onclick="console.log('hello 2')") 2
          div.numButton
            button(onclick="console.log('hello 3')") 3
        div.numRow
          div.numButton
            button(onclick="console.log('hello .')") .
          div.numButton
            button(onclick="console.log('hello 0')") 0
          div.numButton
            button(onclick="console.log('hello equals')") =
      div#functWrapper
        div.functRow
          row
            div.functButton
              button DEL
        div.functRow
          row
            div.functButton
              button %
        div.functRow
          row
            div.functButton
              button X
        div.functRow
          row
            div.functButton
              button _
        div.functRow
          row
            div.functButton
              button +
